.home{
  height: auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-inicio-ticket{
  border: solid 1px #000;
  cursor: pointer;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}
@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: rotate(0deg);
	}
	25% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: rotate(-15deg);
	}
	 75% {
		transform: rotate(15deg);
	} 
	 
}