.home{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-inicio-ticket{
  border: solid 1px #000;
  cursor: pointer;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}