
.home{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-inicio-ticket{
  border: solid 1px #000;
  cursor: pointer;
  width: 12.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
}
.boton-inicio-ticket span{
  font-size: 1.5rem;
}
.boton-inicio-ticket::before,
.boton-inicio-ticket::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width:0;
  background: green;
  box-shadow: -1px -1px 5px 0px #fff,
  7px 7px 20px 0px #2B4C8C,
  4px 4px 5px 0px #2B4C8C;
 transition:400ms ease all;;
}
.boton-inicio-ticket:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.boton-inicio-ticket:hover::before,
.boton-inicio-ticket:hover::after{
  width: 100%;
  transition: 800ms ease all;
}