@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.card-title{
  border: solid 1px #000;
  border-radius: 5px;
}

div.ant-space-item:nth-child(1) > p:nth-child(1){
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: rgb(0, 18, 139);
  margin-bottom: 0;
}