.card-objetivos
{
  font-family: "Proxima Nova Soft", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background: #e5effa;
  margin: 40px 0px 0px 40px;
  padding: 10px;
  text-align: center;
  color: #2686BD;
  font-weight: 600;
}